#about {
    padding: 60px 8%;
    background-color: #f9f9f9;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: var(--color-neutral-7);
}

#about_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-text {
    margin-top: 1%;
    width: 48%;
    background-color: var(--color-primary-1);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-text h4 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--color-neutral-10);
}

.about-text p {
    font-size: 1rem;
    color: var(--color-neutral-2);
    line-height: 1.6;
}

.about-photo {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* max-width: 400px; */
    padding: 15px;
    border-radius: 15px;
    background-color: transparent;
}

.photo-box-shadow {
    position: absolute;
    top: 40px;
    /* desloca para baixo */
    left: 40px;
    /* desloca para a direita */
    /* right: 10px;
    bottom: 10px; */
    width: 95%;
    height: 90%;
    background-color: var(--color-primary-2);
    /* Cor ajustada */
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    /* sombra mais suave */
    z-index: 0;
    /* Coloca a sombra atrás da imagem */
}

.about-photo-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    /* Garante que a imagem fique acima da sombra */
    z-index: 1;
    /* A imagem vai sobrepor a sombra */
}

.about-text:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #about_content {
        flex-direction: column;
        align-items: center;
    }

    .about-text,
    .about-photo {
        width: 80%;
        margin-bottom: 30px;
    }
}